<div class="container">
    <div class="page-header">
        <button class="create-article-btn" (click)="onCreateArticle()">
            Créer un article
        </button>

        <div class="sort-container">
            <label>Trier par date</label>
            <button disabled="articles.length === 0" class="sort-button" (click)="toggleSortOrder()">
                <span *ngIf="sortAsc">&#9650;</span>
                <span *ngIf="!sortAsc">&#9660;</span>
            </button>
        </div>

    </div>

    <div class="articles-grid">
        <app-card *ngFor="let article of articles" [content]="article" [hasButton]="false"
            (cardClicked)="navigateToDetails(article.id)"></app-card>
    </div>

    <div class="empty-state" *ngIf="articles.length === 0">
        <p>Aucun article trouvé</p>
    </div>
</div>